.benefits {
    padding-bottom: 110px;
}
.benefits__heading {
    text-align: center;
    padding-bottom: 58px;
}

.benefits__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}


