.contacts {
    padding-top: 200px;
    padding-bottom: 55px;
    background-image: url('./../../img/contacts/girl-Bg.svg');
    background-size: cover;
    color: #fff;
    position: relative;

    &::before{
        content: "";
        display: block;
        width: 743px;
        height: 372px;
        background-image: url('./../../img/contacts/girl-oval.svg');
        background-size: initial;
        background-repeat: no-repeat;

        position: absolute;
        bottom: -1px;
        left: 50%;
    }
    &::after{
        content: "";
        display: block;
        width: 478px;
        height: 547px;
        background-image: url('./../../img/contacts/girl.png');
        background-size: initial;
        background-repeat: no-repeat;

        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: 79px;
    }
}
.contacts__info {
    max-width: 360px;
}
.contacts__title {
    margin-bottom: 15px;
}

.contacts__text {
    max-width: 342px;
    margin-bottom: 30px;
}

